.mat-form-field {
  width: 50%;
}

.mat-calendar-header-time-hour .mat-calendar-control {
  font-size: 25px !important;
}

.disable-outline:focus {outline:none}

.form-container {
  padding-top: 50px;
}
